@import url('https://fonts.googleapis.com/css2? family= Barlow+Condensed:wght@600 & display=swap');


*{
margin: 0%;
padding:0%;
font-family:'Barlow Condensed', sans-serif;


}

body::-webkit-scrollbar {
  width: 0px;
}

body{
    background-color: #090011;
    height: 10vh;
    width: auto;
}

.bar-lat{
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100%;
  background-color: #3a0068;
}
.space{
  font-size: 0;
  margin-top: 230px;
}

.bx-cog{
  font-size: 50px;
  margin-top: 20px;
  width: 60px;
  height: 30px;
 
}


header nav a{
  text-decoration: none;
  color: #ffff;    
  display: block;
  padding: 20px 40px 20px 15px ;
  border-bottom: 4px solid purple transparent;
  transition: all 10ms ease;
}


header nav a:hover{
  border-bottom: 4px solid rgb(62, 189, 189) ;
}



 nav a li{
  color: transparent;
  font-size: 0px;
  padding: 20px 30px 20px 30px;
  background-color:purple transparent;
  list-style: none;
  float: right;
  transform: translate(-30%, -80%);
  transition: all 50ms ease;

}


header nav a:hover li{
  background-color:rgb(62, 189, 189);
  color: #fff;
  font-size: 20px;
}


header img{
  padding: 10px 9px 11px 11px;
  width: 60px;
  height: 30px;
}

.texrtoespace{
  justify-content: center;
  background:  #fff;
  color: #fff;
  font-size: 120px;
}
.selection{
  
  justify-items: center;
  display: flex;
  text-shadow: 0 0 5px rgba(255, 241, 118, 0.651), 0 0 15px rgba(255, 241, 118, 0.651);
  background: #272626;
  height: 100px;
  width: 100%;
  border-color: #fff;
}
.t1{
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 50px;
}
.seleccionubi{
  width: 50%;
  font-size: 30px;
  margin-left: 10px;
}
.contenedor {
  text-shadow: 0 0 5px rgba(255, 241, 118, 0.651), 0 0 15px rgba(255, 241, 118, 0.651);
  background: #090011;
  height: 100px;
  width: 100%;
  border-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.texto {
  font-size: 25px;
  margin-left: 50px;
  color: #fff;
  width: 50%;
}

.lista {
  font-size: 15px;
  margin-right: 100px;
  color: #fff;
  width: 20%;
}

select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  border-radius: 5px;
  background-color: #3a0068;
  border: 2px solid #5c04a3;
  color: rgb(255, 255, 255);
  height: 30px;
  width: 70%;
}

.catalogo {
  margin-left: 70px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(69, 12, 134, 0.651), 0 0 15px rgba(112, 20, 218, 0.651);
  border: 2px solid #3a0068;
  margin-right: 20px;
  margin-top: 50px;
  width: 85%;
  height: 1100px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.pelicula {
  box-shadow: 0 0 5px rgba(69, 12, 134, 0.651), 0 0 15px rgba(112, 20, 218, 0.651);
  position: relative;
  width: 250px;
  height: 400px;
  margin-left: 70px;
  margin-right: 20px;
  margin-top: 100px;
  margin-bottom: 10px;
  overflow: hidden;
}

.pelicula img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.informacion {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.pelicula:hover .informacion {
  opacity: 1;
}

.informacion h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.informacion p {
  font-size: 1rem;
  margin: 10px 0;
}
