
    body {
        font-family: Arial, sans-serif;
    }

    h1 {
        text-align: center;
        color: #000000;
    }

    table {
        width: 90%;
        height: 100vh;
        text-align: center;
    position: relative;
    left: 3%;
        border-radius: 10px; 
        border: 1px solid #000000;

    }

    th {
        padding: 8px;
        font-size: 25px;
        text-align: left;
        border-bottom: 1px solid #000000;
    }

    td{
        padding: 9px;
        font-size: 23px;
        position: relative;
        left: 10px;
        border-bottom: 1px solid #800080;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
        z-index: 2;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"], input[type="number"], textarea {
        width: 100%;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    textarea {
        height: 100px;
    }

    input[type="submit"] {
        background-color: purple;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: rgba(128, 0, 128, 0.683);
    }

    .success {
        color: purple;
        margin-top: 10px;
    }

    .error {
        color: red;
        margin-top: 10px;
    }

    .bar-lat{
        display: block;
        margin: 0%;
        padding: 0%;
        width: 80px;
        height: 100vh;
        background-color: rgb(0, 0, 0);
        position: absolute;
        left: 100%;
        transform: translate(-100%);
        position: fixed;
        z-index: 1;
    
       
    }
    header nav a{
      display: block;
      text-decoration: none;
      
      color: #ffff;    
      display: block;
      padding: 25px 40px 20px 25px ;
      border-bottom: 4px solid hsl(300, 100%, 25%) transparent;
      transition: all 10ms ease;
    }
    
    
    header nav a:hover{
      border-bottom: 4px solid purple ;
    }
    
    
    
     nav a li{
      display: block;
      color: transparent;
      font-size: 0px;
      padding: 20px 30px 20px 30px;
      background-color:purple transparent;
      list-style: none;
      float: right;
      transform: translate(-30%, -80%);
      transition: all 50ms ease;
    
    }
    
    
    header nav a:hover li{
      background-color:purple;
      color: #fff;
      font-size: 20px;
    }
    
    
    header img{
      padding: 30px 9px 11px 11px;
      width: 60px;
      height: 30px;
    }
